//backgrounds
$bg-color: rgb(26, 26, 53);
$card-bg-color: rgb(34, 34, 37);
$button-bg-color: rgb(134, 112, 104);
$filter-color: rgb(27, 27, 35);
$filter-color2: rgb(42, 42, 71);
// fonts
$font-color: rgb(238, 235, 235);
$font-color2: rgb(138, 138, 160);
$button-color: rgb(255, 209, 179);
// borders
$grid-edge: rgb(255, 255, 255);
$card-edge: rgb(56, 65, 94);
$button-edge: rgb(104, 89, 86);
$button-edge-glow: rgb(242, 191, 23);
//spotlight
$spotlight: rgba(147, 143, 130, 0.3)